body{
    background-color: #a0aec0;
    font-family: sans-serif;
}
h1
{
    color:white;
    text-align: center;
}
p{
    color:white;
    text-align: center;
}
article+article{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px solid #126121;
}
a{
    text-decoration: none;
    background-color: white;
    padding: 3px;
    text-align: center;
}
